.list-items{
    list-style:none;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:250px;
}
.failure{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:90vh;
  width:80vw;
}
.failure-logo{
  height:20vh;
}