.add-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png");
    height:23vh;
    width:70vw;
    background-size:cover;
    padding:10px;
    display:flex;
    justify-content: space-between;
}
.logo{
    height:5vh;
}
.banner{
    width:350px;
    padding:10px;
    color:black;
}
.button{
    height:20px;
}